{% extends 'base.html' %}
{% block head %}
<title>Dropship details</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
  <div class="table">
    <div class="col-md-12 col-md-12">
      <div class="panel panel-default">
        <div class="panel panel-header">
          <h3>Order Informations</h3>
        </div>
        <div class="panel-body">
          <ul>
            <div class="table-responsive">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Shipment Provider</th>
                  <th>Name of Recipient</th>
                  <th>Address</th>
                  <th>Barangay</th>
                  <th>City/Municipality</th>
                  <th>Zip Code</th>
                  <th>Province</th>
                  <th>Phone</th>
                  <th>Quantity</th>
                  <th>Order</th>
                  <th>Special Instructions</th>
                </tr>
              </thead>
              <tbody>
                {% if all_order %}
                {% for order in all_order %}
                <tr>
                  <td>{{ order.date }}</td>
                  <td>{{ order.shipment_provider }}</td>
                  <td>{{ order.last_name }}, {{ order.first_name }} {{ order.middle_name }}</td>
                  <td>{{ order.address }}</td>
                  <td>{{ order.barangay }}</td>
                  <td>{{ order.city_and_municipality }}</td>
                  <td>{{ order.zip_code }}</td>
                  <td>{{ order.province }}</td>
                  <td>{{ order.phone }}</td>
                  <td>{{ order.quantity }}</td>
                  <td>{{ order.order }}</td>
                  <td>{{ order.special_instructions }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h1>You don't have any orders.</h1>
                {% endif %}
              </tbody>
              </table>
            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
