{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block inventorys_active %}active{% endblock %}
{% block head %}<title>Inventory menu</title>{% endblock %}
{% block body %}
<div class="container-fluid">
  {% include 'messages/messages.html' %}
  <h1>Inventory Menu</h1>
      <div class="panel panel-default">
        <div class="panel panel-header">
          <h3>Inventory Informations</h3>
          <p>
          <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add Product</button>
          <a href="#" class="btn btn-warning btn-md" role="button">Edit product</a>
          <a href="#" class="btn btn-danger btn-md" role="button">Delete product</a>
          </p>
        </div>
        <div class="panel-body">
          <ul>
            <div class="table-responsive">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Stock In</th>
                  <th>Stock Out</th>
                  <th>Balance</th>
                  <th>Particulars</th>
                </tr>
              </thead>
              <tbody>
                {% if all_inventorys %}
                {% for inventory in all_inventorys %}
                <tr>
                  <td>{{ inventory.product }}</a></td>
                  <td>{{ inventory.stock_in }}</td>
                  <td>{{ inventory.stock_out }}</td>
                  <td>{{ inventory.balance }}</td>
                  <td>{{ inventory.particulars }}</td>
                  <td>
                    <a href="{% url 'ordering:inventory_detail' inventory.id %}" class="btn btn-primary btn-md" role="button">View Details</a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="7" class="text-center bg-warning">No products in the inventory</td>
                </tr>
                {% endif %}
              </tbody>
              </table>
            {% if is_paginated %}
              <ul class="pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
          </ul>
        </div>
      </div>
</div>

{% endblock %}
